
.images {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;

}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.travel-blog {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.travel-blog p {
  max-width: 1000px;
}